/*筹一把*/
.header-help{
	width:100%;
	position: relative;
	background: #fff;
	padding-bottom: 1rem;
}

.header-help .user {
	width:9.37rem;
	height:9.37rem;
	margin:0 auto;
	padding-top: 1rem;
}

.header-help .user .user-img {
	background: #ecf8fc;
	-webkit-border-radius:4.68rem;
	border-radius: 4.68rem;
	width:9.37rem;
	height:9.37rem;
	margin:0 auto;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
} 
.header-help .user .user-img img {
	-webkit-border-radius:4rem;
	border-radius: 4rem;
	width:8.37rem;
	height:8.37rem;
	vertical-align: middle;
}


.user-text-help {
	background: #ed5565;
	color:#f6b7bc;
	padding:0.5rem;
	border-radius: 1rem;
	margin-top:-2rem;
	position: relative;
	z-index: 999;
	text-align: center;
}

.user-money {
	padding-top: 1rem;
	text-align: center;
}

.btns .btn-up {
	right:0;
	top:45%;
	position: absolute;
	background: #f3f5f5;
	color: #999;
	text-align: center;
	display: block;
	padding:1rem;
	border-radius: 1rem 0 0 1rem;
}

.number {
	top:10%;
	left:0%;
	position: absolute;
	padding-left:25px;
}

.number span {
	padding:1rem 0 0 1.5rem;
	font-size: 0.5rem;
	color: #22ac38;
	background: url(../images/db.png) 0 50% no-repeat;
	background-size: 20%;
}


.raise-list-top {
	padding:0 1rem;
	position: relative;
}

.raise-list-top .loading {
	height:8px;
	background: #e1e4e9;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px #d1d4d9 inset;
	margin: 2rem 4rem 2rem 0rem;
	position: relative;
}

.grey .loading span {
	background-image: -moz-linear-gradient(top, #d7d7d7, #c7c7c7); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d7d7d7	), color-stop(1, #c7c7c7)); /* Saf4+, Chrome */
}

.loading span {
	width:60%;
	height:8px;
	border-radius: 8px;
	display: block;
	background-image: -moz-linear-gradient(top, #54d9ff, #29c2ff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #54d9ff), color-stop(1, #29c2ff)); /* Saf4+, Chrome */
}

.raise-list-top .load {
	position: absolute;
	right: 1rem;
	top:0;
}
.loading font{
	position: absolute;
	display: block;
	right: 0;
	top:0;
}

.three-list {
	padding:0 2rem;
}
.three-list li{
	float: left;
	width: 33%;
}
.three-list h3	{
	line-height: 150%;
}