.icon-list {

}

.icon-list {
	background: #fff;
}

.icon-list li {
	float:left;
	width:33.1%;
	height:7rem;
	text-align: center;
	border:1px solid #eee;
	border-left:none;
	border-bottom:none;
	position: relative;
}

li u.feed {
	display: block;
	background: #e61818;
	width:10px;
	height:10px;
	position: absolute;
	border-radius: 5px;
	top:20%;
	right:30%;
}

.icon-list li div{
	padding:1.26667em 0;
	display: block;
}

.icon-list li div p {
	color:#606666;
	font-size:.9rem;
}
.icon-list li  i{
	margin:0 auto;
	display: block;
	height:2.5rem;
	width:2.5rem;
	-moz-background-size: 1.25em 1.25em;
	-o-background-size: 1.25em 1.25em;
	-webkit-background-size: 1.25em 1.25em;
	background-size:1.5rem 1.5rem;
}

i.zc {
	background:url(../images/icon_03.png) 50% no-repeat;
}
i.tc {
	background:url(../images/icon_05.png) 50% no-repeat;
}
i.jt {
	background:url(../images/icon_07.png) 50% no-repeat;
}
i.msg {
	background:url(../images/icon_09.png) 50% no-repeat;
}
i.frd {
	background:url(../images/icon_15.png) 50% no-repeat;
}
i.safe {
	background:url(../images/icon_16.png) 50% no-repeat;
}
i.jf {
	background:url(../images/icon_17.png) 50% no-repeat;
}
i.qa {
	background:url(../images/icon_19.png) 50% no-repeat;
}



/*总资产*/
.header-all {
	
}

header .btns {
	position: absolute;
	bottom: 0;
	width: 100%;
}
body header{
	width:100%;
	background-color: #33ccff;
	position: relative;
	padding-bottom: 1rem;
	height:18rem;
}

header .user {
	width:9.37rem;
	height:9.37rem;
	margin:0 auto;
	padding-top: 1rem;
}

header .user .user-img {
	background: #48d1ff;
	border:1px solid #5bdbff;
	-webkit-border-radius:4.68rem;
	border-radius: 4.68rem;
	width:9.37rem;
	height:9.37rem;
	margin:0 auto;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
} 
header .user .user-img img {
	-webkit-border-radius:4rem;
	border-radius: 4rem;
	width:8.37rem;
	height:8.37rem;
	vertical-align: middle;
}


.user-text {
	background: #88be4d;
	color:#c9e0b4;
	padding:0.5rem;
	border-radius: 1rem;
	margin-top:-2rem;
	position: relative;
	z-index: 999;
	text-align: center;
}

.user-money {
	padding-top: 1rem;
	text-align: center;
}

.btn-up {
	right:0;
	bottom:10%;
	position: absolute;
	background: #33b2e5;
	color: #fff;
	text-align: center;
	display: block;
	padding:2rem;
	border-radius: 1rem 0 0 1rem;
}

header .btns  a.pay{
	display: block;
	height:4rem;
	width:49.5%;
	text-align: center;
	line-height: 4rem;
	font-size: 1.2rem;
	color: #fff;
	background: #3399cc;
	float:left;
	border-radius: 0 5px 5px 0;
}
header .btns  a.outM{
	display: block;
	height:4rem;
	width:49.5%;
	text-align: center;
	line-height: 4rem;
	font-size: 1.2rem;
	color: #fff;
	background: #3399cc;
	float:right;
	border-radius: 5px 0 0 5px;
}

.art-tit {
	padding:2rem 0;
}

.header-all .art-tit span {
	display: block;
	margin-bottom:1.25rem;
}

.header-all .art-tit-cen span {
	display: block;
	margin-bottom:0.8rem;
}


.header-all article {
	
}

/*交易明细*/

.help {

}

/*奖金兑换*/
.change-tab {
	
}
.change-tab h2 {
	padding-top: 25%;
}
.change-tab ul li {
	float: left;
	width:49%;
	text-align: center;
	border-right: 1px solid #eee;
	padding:1rem 0;
	background:url(../images/money_nav_dis.png) 50% 30% no-repeat;
	background-size: 3.8rem 2rem;
}

.change-tab ul li.on {
	color:#33ccff;
	background:url(../images/money_nav.png) 50% 30% no-repeat;
	background-size: 3.8rem 2rem;
	
}

.change-tab ul li.on h2 {
	color:#33ccff;
}
.change-tab ul li  h2 {
	color:#afb2b2;
}


/*奖金兑换 三栏切换*/
.change-tab-more {
	
}

.change-tab-more ul li {
	float: left;
	width:33%;
	text-align: center;
	border-right: 1px solid #eee;
	padding:1rem 0;
	background-size: 3.8rem 2rem;
	line-height:1rem;
}

.change-tab-more ul li.on {
	color:#50c1e9;
	background-size: 3.8rem 2rem;
	
}


/*奖金提成*/

.tc-money {
	text-align: center;
	background:#fff;
	padding:1.25rem 0;
	border-bottom:1px solid #eee;
}
.tc-money h2 {
	padding-bottom: 1rem;
}

.commission {
	margin-left:0.5rem;
}

.commission li {
	position: relative;
}
.commission .title {
	font-size:1rem;
	line-height: 1.50rem;
	color:#606666;
}

.commission .date {
	font-size:0.6rem;
	color:#babcbc;
	line-height: 1.2rem;
}

.commission .ymoney {
	padding-top: 1rem;
	color:#babcbc;
}
.commission .ymoney font{
	font-size: 2rem;
	color:#babcbc;
}


.commission li {
	background: url(../images/tc_bg.png) no-repeat;
	background-size:98% 100%;
	padding:1rem 2rem;
	margin-bottom: 1rem;
}

.commission li.on {
	background: url(../images/tc_bg_on.png) no-repeat;
	background-size:98% 100%;
}

.commission li.add {
	background: url(../images/tc_bg_add.png) no-repeat;
	background-size:98% 100%;
	height: 8rem;
}

.commission li.on .title,.commission li.on .date,.commission li.on .ymoney,.commission li.on .ymoney font,.commission li.on p.used {
	color:#fff;
}

.commission li p.used {
	position: absolute;
	right: 10%;
	display: block;
	width:1rem;
	line-height: 1.5rem;
	top:20%;
	color:#babcbc;
}


/*抽签列表*/
.raise-list {
	width:96%;
	margin:0 auto;
}

.raise-list ul li {
	border:1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	padding:1rem;
}

.raise-list .tit {
	height:2rem;
	line-height: 2rem;
}

.raise-list .tit  h3 {

}

.raise-list .tit  span {
	float: right;
}

.raise-list .con {
	margin-top: 1rem;
	height: 4rem;
}
.raise-list .con div {
	width:33%;
	float: left;
}

.raise-list .con div p {
	height:1.5rem;
	line-height: 1rem;
}

.how {
	height:3rem;
	border-top: 1px solid #ccc;
}

.how div {
	margin-top: 1rem;
	float: left;
	width: 49%;
	border-right: 1px solid #ccc;
	line-height: 2rem;
	text-align: center;

}

/*借条列表*/

.iou-list li {
	padding:1rem;
	border-bottom:1px solid #ccc;
}

li.part1 {
	height:2rem;
	line-height: 2rem;
}

li.part1  span {
	float: right;
}

li.iou-pay {
	background: url(../images/iou_pay.png) 50% no-repeat;
	background-size: 50%;
}
li.iou-suc {
	background: url(../images/iou_suc.png) 50% no-repeat;
	background-size: 50%;
}
li.iou-db {
	background: url(../images/iou_db.png) 50% no-repeat;
	background-size: 50%;
}
.iou-list-detail dl {
	height:2rem;
}
.iou-list-detail dl dt, .iou-list-detail dl dd	{
	float: left;
	width: 50%;
	line-height: 200%;
}

.iou-list-detail dl dd	 {
	text-align: right;
}

/*标签和语音*/

.tag,.voice {
	padding:1rem;
}
.tag h3,.voice h3 {
	margin-bottom: 2rem;
}

.tag-list span.add {
	background: #f1f1f1;
	color:#333;
}

.tag-list input {
	float: left;
	padding:1rem;
	background: #eee;
	color: #333;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border:none;
}

.tag-list span {
	display: block;
	float: left;
	padding:1rem;
	background: #33ccff;
	border-radius: 4px;
	color: #fff;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.voice-list span{
	display: block;
	padding:1rem 0;
	width: 100%;
	border:1px solid #d7d8dd;
	background: #eee;
	border-radius: 4px;
	text-align: center;
}

/*消息推送*/
.msg-item {
	background: #fff;
	border-radius: 5px;
	margin:0 auto;
	width:90%;
	border:1px solid #ccc;
	margin-bottom: 1rem;
	padding:1rem;
}

.msg-item h3 {
	
}

.msg-item .msg-img,.msg-text{
	width:100%;
	margin: 1rem 0;
	
}

.msg-img img {
	background-size: 40% auto;
}



.tag-list-new span.add {
	background: #f1f1f1;
	color:#333;
}

.tag-list-new li {
	height:3rem;
	float: left;
}
.tag-list-new input {
	float: left;
	padding:1rem 0.2rem;
	background: #eee;
	color: #333;
	margin-right: 1rem;
	border:none;
	width: 8rem;
	height: 1.2rem;
}

.tag-list-new span {
	display: block;
	float: left;
	padding:1rem;
	background: #33ccff;
	color: #fff;
	font-size: 1.2rem;
}

.tag-list-new li em {
	background: #14b1e5;
	font-size: 1.2rem;
	display: block;
	float: left;
	padding:1rem;
	color: #fff;

}

.tag-list-new  li{

	margin-right: 1rem;
	margin-bottom: 1rem;
}

.tqhk {
	width:80px;
	height:2rem;
	line-height: 2rem;
	display: block;
	border:1px solid #ed5565;
	background: #fff;
	color: #ed5565;
	padding:0 1rem;
	border-radius: 5px;
	text-align: center;
	position: relative;
	top:35px;
	right: 30px;
}

.tab-list p {
	line-height: 150%;
}

.tab-list a {
	border: 1px solid #fbab00;
	padding:2px 15px;
	color:#fbab00;
	line-height: 200%;
	border-radius: 5px;
}